name: Docker

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - devel

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: hrm
  
jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      
      - name: Build image
        run: | 
            docker build . --file Dockerfile  -t hrm
